<br><br>
<span class="mask bg-gradient-primary opacity-8"></span>
<div class="card bg-gradient-primary shadow bg-gradient-cyan">


  <div class="card-body">
    <div class="d-flex justify-content-end mr-5"><small><button class="btn btn-darker btn-sm" routerLink="/mc-list">Mc Lists</button></small></div>

    <form [formGroup]="form">


      <div class="pl-lg-4">
        <div class="row ml-5 mb-5">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Name</label>
              <input type="text" id="input-username" class="form-control form-control-alternative"  value="{{mcobj.name}}" formControlName="name">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="input-phone">Phone</label>
              <input type="text" id="input-phone" class="form-control form-control-alternative" value="{{mcobj.phone}}" formControlName="phone">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="input-city">City</label>
              <input type="text" id="input-city" class="form-control form-control-alternative" value="{{mcobj.city}}" formControlName="city">
            </div>

            <div class="form-group">
              <label class="form-control-label" for="input-email">Email</label>
              <input type="text" id="input-email" class="form-control form-control-alternative" value="{{mcobj.email}}" formControlName="email">
            </div>
          </div>


          <div class="col-sm-6 mt-5">


            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="card image border-success" style="width: 18rem;height: 18rem">
                  <div class="card-body p-0 mb-0" (click)="image.click()">
                    <img  [src]="mcobj.image"  alt="" class="img-fluid vw-100 rounded" style="width: 18rem;height: 18rem">
                  </div>
                  <div class="card-footer p-0 border-0">
                    <button class="btn btn-primary btn-sm" (click)="upload(image.files[0],form.get('image'))" style="width: 18rem;height: 2rem">
                      <span class="fa fa-upload mr-1"></span>Upload
                    </button>
                  </div>
                </div>
                <input #image type="file" accept="image/*" class="d-none" formControlName="image" [formControlName]="this.form.get('image').setValue(mcobj.image)"
                       (change)="preview(image.files[0],form.get('image'))"
                >
              </div>
            </div>

          </div>
        </div>
      </div>



      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Price Form</h6>
      <div class="pl-lg-4">

        <div class="form-group" formGroupName="price">
          <label>Part Time Price</label><br>
          <input type="number" formControlName="hourlyPrice" class="form-control" value="{{mcobj.price.hourlyPrice}}">
          <label>Full Time Price</label><br>
          <input type="number" formControlName="dailyPrice" class="form-control" value="{{mcobj.price.dailyPrice}}">
        </div>

      </div>
      <hr class="my-4" />
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">About me</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Description</label>
          <textarea rows="4" class="form-control form-control-alternative" value="{{mcobj.description}}" formControlName="description"></textarea>
        </div>
      </div>


      <button class="btn btn-primary btn-sm mb-5 mr-1"   (click)="mcUpdate()"><small class="mt-1">Submit Form</small></button>

    </form>
  </div>
</div>


